.moverchat{
    position: absolute;
    right: 5px;
    bottom: 5px;
    background-color: rgb(168, 144, 113);
}
.message-container{
    background-color: white;
    width: 25rem;
    height: 18rem;
    padding: 1rem 0.5rem 1rem 1rem;
    text-align: end;
    overflow: scroll;
}
.bg-primary{
    // display: inline-block;
    // font-size: 25px;
    // justify-content: end;
    // background-color: rgb(182, 221, 255);
    // margin-bottom: 2px;
    // padding: 3px;
    // border-radius: 4px;
}
.input_msg{
    width: 100%;
    color: black;
}
.send_button{
    color: black;
}
.user-message{
    display:inline-block;
    flex-direction: column;
    flex-wrap:unset;
    width: auto;
    font-size: 25px;
    justify-content: end;
    background-color: rgb(182, 221, 255);
    margin-bottom: 2px;
    padding: 5px;
    border-radius: 4px;
    margin-top: 5px;
}
.from-user{
    font-size:10px;
}
.display_flex_chat{
    display: flex;
}
.fondo_chat_superior{
    background-color: rgb(118, 190, 253);

    a{
        text-decoration: none;
        
    }
}


