.moverchat{
    position: absolute;
    right: 5px;
    bottom: 5px;
    background-color: rgb(168, 144, 113);

}
.message-container{
    background-color: white;
    height: 22rem;
    padding:1rem 0rem 1rem 1rem;
    text-align: end;
}
.bg-primary{
    background-color: rgb(95, 172, 240);
    margin-bottom: 2px;
}
