.pitote{
position: fixed;

}
.button{
    margin: 2px;
    border: black solid 1px;
    justify-items:auto;
}
#okbutton{
    border: solid 1px black;
    background-color: rgb(255, 195, 121);
    float: right;
    display: flex;
    align-items: center;
    word-break:break-all;
    margin: 0 0 1em 1em;
}
.transparence{
    position: absolute;
    width: 300px;
    height: 300px;
    display: flex;
    background-color: aqua;
    opacity: 0.5;
    z-index: -1;
}
.border p{
    font-size: 20px;
}
