header{
    display: flex;
    justify-content:space-between;
}
header div{
    display: flex;
}
header p{
    color: aliceblue;
    font-size: 35px;
    margin: 0;
    padding-top: 1rem;
    padding-right: 1.5rem;
}
header h1{
    display: flex;
    font-family:VT323;
    color: violet;
    font-size: 40px;
    margin-top: 1rem;
}