#set{
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    left:50px;
    display: flex;
    flex-direction: column;
    color: white;
    div{
        font-size: 70px;
    }
}
.set1{
    text-shadow:5px 5px 10px #ff18f7;
    transition: text-shadow ease-in .2s;
}
.set1:hover{
    text-shadow:5px 5px 10px #ff18f7;
}
.set a{
    text-decoration: none;
}
a:-webkit-any-link {
    text-decoration: none;
    color: rgb(252, 252, 252);
    cursor: pointer;
}