#set{
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    left:50px;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    color: white;
}
.set1{
    text-shadow:5px 5px 10px black;
    transition: text-shadow ease-in .2s;
}

.set1:hover{
    text-shadow:5px 5px 10px goldenrod;
}
.set a{
    text-decoration: none;
}
a:-webkit-any-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}