.flex{
    max-width: 80%;
}
.flex div{
    // border: .1rem solid black;
}
#tapete{
    background-size: 100%;

}
.mesa{
z-index:0;
}
.mesa img{
    position: absolute;
    max-width: 50rem;

    top: 0;
    left: 0;
    right: 14rem;
    bottom: 2rem;
    margin: auto;
}
// #background{
//     max-width: 500px;
//     max-height: 300px;
// }
#room{
    background-color: chocolate;
}
.avatar{
    z-index:1;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.avatar img{
    max-width: 100px;
    max-height: 100px;
    border: 10px ridge rgb(233, 18, 11);
    background-color: rgb(226, 176, 110);
    border-radius: 6px;
}
.card-compa{
    z-index:1;
    display: block;

}
.card-compa img{
    display: block;
    height: 100%;
    object-fit:contain;
    transform:rotate(180deg);
}
.card-contri{
    z-index:1;
    display: block;
    margin: -5rem;
}
.card-contri img{
    display: block;
    width: 25%;
    margin-left: 8rem;
    object-fit:contain;
    transform:rotate(90deg);
}
.card-contrd{
    z-index:1;
    display: block;
    margin: -5rem;
}
.card-contrd img{
    display: block;
    width: 25%;
    margin-left: 6rem;
    object-fit:contain;
    transform:rotate(-90deg);
}
.card{
    z-index:1;
    display: block;
    margin: -.5rem;
}
.card img{
    display: block;
    height: 100%;
    object-fit:contain;
}
.card1{
    z-index:1;
    background-color: burlywood;
    padding: .5rem;
    margin: .3rem;
    height: 3rem;
    width: 5rem;
}
.centralcards{
    z-index:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 28rem;
}

.cards1{
    z-index:1;
    display: flex;
    justify-content: center;
    gap:.25rem;
    transition: transform .2s; 
}
.cards1:hover{
    transform: scale(1.5);
    padding: 0rem;
}

.cards2{
    z-index:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards3{
    z-index:1;
    display: flex;
    justify-content: center;

}

.p1:hover{
    transform: scale(1.5); 
}
.player1{

}
.player3{
    display: flex;
}
.player2{
    display: flex;


}
.team1{
    display: flex;
    justify-content: center;
    align-items: center;

}
.team2{
    display: flex;
    justify-content: space-between;
}
.tablero{
    display: flex;
}

.tablero {
    display: grid;
    gap: .5rem;
    grid-template-columns: 5vw minmax(100px,10vw) 10vw 31fr 10vw minmax(100px,10vw);
    grid-template-rows: 15vh 15vh 30vh 15vh 20vh;
    grid-template-areas: ". . . avatar-compa . ."
                        ". . mazo3 cartas-compa mazo2 ."
                        ". avatar-oponente-iz cartas-oponente-iz info cartas-oponente-dr avatar-oponente-dr"
                        ". . mazo4 cartas-activo mazo1 ."
                        ". . jugador-activo jugador-activo jugador-activo ."
    ;
    width: 100%;
    max-width: 100%;
}
.mazo1{
    z-index:1;
    grid-area: mazo1;
}
.mazo1 img{
    margin-top: 1.5rem;
    margin-right: 20rem;
    display: block;
    height: 100%;
    object-fit:contain;
    transform:rotate(-20deg);
}
.mazo2{
    z-index:1;
    grid-area: mazo2;
}
.mazo2 img{
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    display: block;
    height: 100%;
    object-fit:contain;
    transform:rotate(90deg);
}
.mazo3{
    z-index:1;
    grid-area: mazo3;
}
.mazo3 img{
    margin-bottom: 1.5rem;
    margin-left: 5rem;
    display: block;
    height: 100%;
    object-fit:contain;
    // transform:rotate(90deg);
}
.mazo4{
    z-index:1;
    grid-area: mazo4;
}
.mazo4 img{
    margin-left: 3rem;
    display: block;
    height: 100%;
    object-fit:contain;
    transform:rotate(90deg);
}
.avatar-compa {
    grid-area: avatar-compa;
}
.cartas-compa {
    grid-area: cartas-compa;
}
.avatar-oponente-iz {
    grid-area: avatar-oponente-iz;
}
.cartas-oponente-iz {
    grid-area: cartas-oponente-iz;
}
.info {
    z-index:1;
    grid-area: info;
    display: block;
    padding: 1rem 2rem;
    background-color: rgba(200,200,200,.4);
    border-radius: 1rem;
    box-shadow: 0 0 2px 4px rgba(50,50,50,.3);
}
.cartas-oponente-dr {
    grid-area: cartas-oponente-dr;
}
.avatar-oponente-dr {
    grid-area: avatar-oponente-dr;
}
.cartas-activo {
    grid-area: cartas-activo;

    .card {
        transform-origin: bottom center;
        transition: transform .2s ease-in-out;
        &:first-child {
            margin-right: -30px;
            transform: rotateZ( -15deg );
            &:hover {
                transform: translateY(-30%) rotateZ( -15deg ) scale(1.2);
            }
        }
        &:nth-child(2) {
            margin-right: -15px;
            transform: translateY(-20px) rotateZ( -5deg );
            &:hover {
                transform: translateY(-30%) rotateZ( -5deg ) scale(1.2);
            }
        }
        &:nth-child(3) {
            margin-left: -15px;
            transform: translateY(-20px) rotateZ( 5deg );
            &:hover {
                transform: translateY(-30%) rotateZ( 5deg ) scale(1.2);
            }
        }
        &:last-child {
            margin-left: -30px;
            transform: rotateZ( 15deg );
            &:hover {
                transform: translateY(-30%) rotateZ( 15deg ) scale(1.2);
            }
        }

    }
    .p1:hover{

        transform: scale(1.5); 
    }
}
.jugador-activo {
    grid-area: jugador-activo;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.moverchat {
    opacity: .9;
}
.avatar p{
    border: 0;
    margin:0;
} 

.buttons{
    z-index:1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: .5rem 1.25rem;
    max-width: 30ch;
    max-height: 5rem;
    text-align: center;
    white-space: normal;
    color: white;
    background-color: darkolivegreen;
    border: 1px solid black;
    border-radius: .25rem
}
.buttons{
    z-index:1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: .5rem 1.25rem;
    max-width: 30ch;
    max-height: 5rem;
    text-align: center;
    white-space: normal;
    color: white;
    background-color: darkolivegreen;
    border: 1px solid black;
    border-radius: .25rem
}
.prenohaymus{
    display:flex;
    margin-top: 2rem;
}
.postnohaymus{
    z-index:1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1.25rem;
    max-width: 30ch;
    text-align: center;
    white-space: normal;
    color: white;
    background-color: rgb(107, 54, 47);
    border: 1px solid black;
    border-radius: .25rem
}
.suma{
    background-color: rgb(214, 82, 82);
    box-shadow: 1px 1px 2px black;
}
