#background{
    height: 100vh;
    background-size: 100%;
}
#set{

    cursor: pointer;
    position: absolute;
    bottom: 50px;
    left:50px;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    color: white;
}
.set1{

    text-shadow:5px 5px 10px black;
    transition: text-shadow ease-in .2s;
}

.set1:hover{

    text-shadow:5px 5px 10px goldenrod;
}
.loginbox{
    border: solid black 3px;
    background-color: bisque;
    padding:10px;

}
.loginboxcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.okbutton{
    border: solid 1px black;
    background-color: rgb(255, 195, 121);
    float: right;
    display: flex;
    align-items: center;
    word-break:break-all;
    margin: 0 0 1em 1em;
}