#background{
    height: 100vh;
    background-size: 100%;
}
header{
    display: flex;
    justify-content:space-between;

}
header div{
    display: flex;
}
header p{
    color: aliceblue;
    font-size: 35px;
    margin: 0;
    padding-top: 1rem;
    padding-right: 1.5rem;
}


